.App {
  text-align: center;
}

Body {
  background-image: linear-gradient(45deg, #fff722, #ff26f9);
  height: 100%;
  width: 100%;
}

.container {
  max-width: 600px;
}

/* DraftJS */

.public-DraftEditor-content {
  min-height: 200px;
  min-width: 400px;
  display: block;
  margin-top: 30px;
  margin-bottom: 0px;
}

.public-DraftStyleDefault-ltr {
  text-align: left 
}

/* Editor */

.editor__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.editor {
  background-color: #fff;
  padding: 20px;
}

#dropzone {
  border: 1px solid blue;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .4;
  visibility: hidden;
  color: transparent;
}

/* Editor Formatting Styles */

.bold {
  font-weight: bold
}

.strikethrough {
  text-decoration: line-through
}

.italic {
  font-style: italic
}
