.App {
  text-align: center;
}

Body {
  background-image: linear-gradient(45deg, #fff722, #ff26f9);
  height: 100%;
  width: 100%;
}

.container {}

/* DraftJS */

.public-DraftEditor-content {
  min-height: 200px;
  min-width: 400px;
  display: block;
  margin-top: 30px;
  margin-bottom: 0px;
}

.public-DraftStyleDefault-ltr {
  text-align: left 
}

/* Editor */

.editor__container,
.editor {
  height: auto;
  max-width: 50rem;
  max-height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);
}

.editor__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.editor {
  background-color: #fff;
  overflow: auto;
  padding: 20px;
  background:
    linear-gradient(#eeeeee 33%, rgba(238,238,238, 0)),
    linear-gradient(rgba(238,238,238, 0), #eeeeee 66%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(34,34,34, 0.5), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 100%, rgba(34,34,34, 0.5), rgba(0,0,0,0)) 0 100%;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 30px, 100% 30px, 100% 10px, 100% 10px;
}

/* I dislike this selector. Is there a way to add a class to inserted images? */
.editor figure img {
  display: block;
  height: auto;
  max-width: 100%;
}

#dropzone {
  border: 1px solid blue;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .4;
  visibility: hidden;
  color: transparent;
}

/* Editor Formatting Styles */

.bold {
  font-weight: bold
}

.strikethrough {
  text-decoration: line-through
}

.italic {
  font-style: italic
}

/* Scrollbar */

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
}
